:root {
  --MainColor: rgb(0, 0, 0);
  --Red: rgb(245, 27, 27);
  --fontRDCLR: "REDCOLLAR";
  --fontForText: "TT COMMONS";
  --fontColor: rgb(255, 255, 255);
  --fontColorOpacity: rgba(255, 255, 255, 0.4);
}
