@font-face {
  font-family: "Redcollar";
  src: local("Redcollar"),
    url("./font/redcollar/f02cf2e6e27a17bcfe9efa18c041c208.ttf")
      format("truetype"),
    url("./font/redcollar/f02cf2e6e27a17bcfe9efa18c041c208.eot")
      format("embedded-opentype"),
    url("./font/redcollar/f02cf2e6e27a17bcfe9efa18c041c208.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "TTCommons";
  src: local("TTCommons"),
    url("./font/TTCommons/791b34a71c48acc600f240e9fdb57fb6.ttf")
      format("truetype"),
    url("./font/TTCommons/791b34a71c48acc600f240e9fdb57fb6.eot")
      format("embedded-opentype"),
    url("./font/TTCommons/791b34a71c48acc600f240e9fdb57fb6.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
